<section class="inner-wrapper">
    <div class="error-container text-xs-center">
        <!--<img src="/../../assets/images/error_404.jpg" alt="404 error">-->
        <h1>404 - THIS PAGE DOES NOT EXIST..</h1>
        <p >
          Please let us find your perfect pair:
        </p>
        <p class="text-sm-center">
            <a href="javascript:void(0)" class="btn-primary display-ib" href="collection/womens-eyeglasses">EYEGLASSES</a>
            <a href="javascript:void(0)" class="btn-primary display-ib" href="collection/womens-sunglasses">SUNGLASSES</a>
        </p>
    </div>
</section>
