
<div class="modal product-details fade" id="limitModal" tabindex="-1" role="dialog" aria-labelledby="limitModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="overlay-container text-xs-center">
          <p><strong>{{message}}</strong></p>
          <button class="btn-primary display-ib" data-toggle="modal" data-dismiss="modal" id="maxLimit">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!--  email to friend success -->
<div class="modal product-details fade" id="emailToFriendSuccess" tabindex="-1" role="dialog"
     aria-labelledby="emailToFriendSuccess"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="overlay-container text-xs-center">
          <p class="text-medium text-xs-center">Mail has been sent successfully !!!</p>
          <button class="btn-primary display-ib" data-toggle="modal" data-dismiss="modal">Continue Shopping</button>
        </div>
      </div>
    </div>
  </div>
</div>

<a style="display:none;" id="openEmailToFriendSuccess" data-toggle="modal" data-dismiss="modal"
   data-target="#emailToFriendSuccess"></a>
<!--  email to frient success -->


