<section class="main-wrapper">
  <section class="inner-wrapper">
    <div class="reset-password">
    <h1 class="text-xs-center">RESET YOUR PASSWORD</h1>

    <form [ngFormModel]="resetPasswordForm" (ngSubmit)="submit()">
      <div class="form-group">
        <input type="text" [ngClass]="{invalid:email.touched || attemptSubmit}" (ngModelChange)="emailExistError=false"
               name="email" (focus)="emailExistError=false" class="form-control" placeholder="Email" ngControl="email"
               id="email" #email="ngForm">
      <span *ngIf="emailExistError" class="error text-xsmall">The reset link is invalid or expired. Please <a
        href="javaScript:void(0);" class="error text-decoration-underline" [routerLink]="['/forgot-password']">make
        another one</a>.</span>
        <control-messages control="email" [displayMessage]="validationMessages.email"
                          *ngIf="email.touched || attemptSubmit"></control-messages>
      </div>

      <div ngControlGroup="matchingPassword">
        <div class="form-group">

          <input type="password" [ngClass]="{invalid:password.touched || attemptSubmit}" name="password"
                 class="form-control" placeholder="Password" ngControl="password" id="password" #password="ngForm">

        <span
          *ngIf="resetPasswordForm.controls['matchingPassword'].controls['password'].hasError('required') && (password.touched || attemptSubmit)"
          class="error text-small">{{validationMessages.password.required}}</span>
        <span *ngIf="resetPasswordForm.controls['matchingPassword'].controls['password'].hasError('minlength')"
              class="error text-small">{{validationMessages.password.password_length}}</span>

        </div>
        <div class="form-group">
          <input type="password" name="confirm_password"
                 [ngClass]="{invalid:resetPasswordForm.controls['matchingPassword'].controls['confirm_password'].hasError('required') && (confirm_password.touched || attemptSubmit)}"
                 class="form-control" placeholder="Confirm Password" ngControl="confirm_password" id="confirm_password"
                 #confirm_password="ngForm">
          <control-messages control="matchingPassword" displayMessage="password not matched."
                            *ngIf="(!resetPasswordForm.controls['matchingPassword'].controls['confirm_password'].hasError('required') && confirm_password.touched)|| attemptSubmit"></control-messages>

                <span
                  *ngIf="resetPasswordForm.controls['matchingPassword'].controls['confirm_password'].hasError('required') && (confirm_password.touched || attemptSubmit)"
                  class="error text-small">Please enter confirm password.</span>
        </div>
      </div>

      <button type="submit" class="btn-primary btn-block" [disabled]="emailExistError">SUBMIT</button>
    </form>
  </div>
  </section>
</section>
