<section class="main-wrapper">
    <div class="row filters hidden-md-down">
        <div class="col-md-12">
            <form>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <label class="c-input c-radio">
                            <input id="radioStacked1" name="radio-stacked" type="radio">
                            <span class="c-indicator"></span>
                            EYEGLASSES
                        </label>
                    </li>
                    <li class="list-inline-item">
                        <label class="c-input c-radio">
                            <input id="radioStacked2" name="radio-stacked" type="radio">
                            <span class="c-indicator"></span>
                            SUNGLASSES
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <section class="inner-wrapper">
        <div class="row">
            <div class="col-sm-4 text-xs-center ">
                <img src="/../../assets/images/profile-img.jpg" width="100%" class="profile-img" alt="">
            </div>
            <div class="col-sm-8 ">
                <h2 class="text-uppercase">EMMA ROBERTS IN A+O EYEWEAR</h2>
                <p class="text-xs-center text-sm-left">
                    lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum

                </p>
                <div class="row card equal-height">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="card-img">
                            <img src="/../../assets/images/product-img.jpg" class="card-img-top" alt="Card image cap">
                            <button href="javaScript:void(0);" class="quick-buy btn-primary text-uppercase" (click)="addToBagModel()" data-toggle="modal"
                                    [attr.data-target]="'#'+modalId">QUICK BUY
                            </button>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="card-block">
                            <h2 class="card-title">Style Name</h2>
                            <p class="card-text">Color</p>
                            <p class="card-text">Price</p>
                            <div class="form-group">
                                <label class="c-input c-radio">
                                    <input id="radioStacked4" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                                <label class="c-input c-radio">
                                    <input id="radioStacked5" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                                <label class="c-input c-radio">
                                    <input id="radioStacked6" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                            </div>
                            <a href="javaScript:void(0);" class="btn btn-primary pull-sm-left">SHOP THIS STYLE</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <section class="inner-wrapper">
        <div class="row">
            <div class="col-sm-4 text-xs-center ">
                <img src="/../../assets/images/profile-img.jpg" width="100%" class="profile-img" alt="">
            </div>
            <div class="col-sm-8 ">
                <h2 class="text-uppercase">EMMA ROBERTS IN A+O EYEWEAR</h2>
                <p class="text-xs-center text-sm-left">
                    lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum

                </p>
                <div class="row card equal-height">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="card-img">
                            <img src="/../../assets/images/product-img.jpg" class="card-img-top" alt="Card image cap">
                            <button href="javaScript:void(0);" class="quick-buy btn-primary text-uppercase" data-toggle="modal"
                                    data-target="#myModal">QUICK BUY
                            </button>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="card-block">
                            <h2 class="card-title">Style Name</h2>
                            <p class="card-text">Color</p>
                            <p class="card-text">Price</p>
                            <div class="form-group">
                                <label class="c-input c-radio">
                                    <input id="radioStacked4" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                                <label class="c-input c-radio">
                                    <input id="radioStacked5" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                                <label class="c-input c-radio">
                                    <input id="radioStacked6" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                            </div>
                            <a href="javaScript:void(0);" class="btn btn-primary pull-sm-left">SHOP THIS STYLE</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <section class="inner-wrapper">
        <div class="row">
            <div class="col-sm-4 text-xs-center ">
                <img src="/../../assets/images/profile-img.jpg" width="100%" class="profile-img" alt="">
            </div>
            <div class="col-sm-8 ">
                <h2 class="text-uppercase">EMMA ROBERTS IN A+O EYEWEAR</h2>
                <p class="text-xs-center text-sm-left">
                    lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum

                </p>
                <div class="row card equal-height">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="card-img">
                            <img src="/../../assets/images/product-img.jpg" class="card-img-top" alt="Card image cap">
                            <button href="javaScript:void(0);" class="quick-buy btn-primary text-uppercase" data-toggle="modal"
                                    data-target="#myModal">QUICK BUY
                            </button>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="card-block">
                            <h2 class="card-title">Style Name</h2>
                            <p class="card-text">Color</p>
                            <p class="card-text">Price</p>
                            <div class="form-group">
                                <label class="c-input c-radio">
                                    <input id="radioStacked4" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                                <label class="c-input c-radio">
                                    <input id="radioStacked5" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                                <label class="c-input c-radio">
                                    <input id="radioStacked6" name="radio-stacked" type="radio">
                                    <span class="c-indicator"></span>
                                </label>
                            </div>
                            <a href="javaScript:void(0);" class="btn btn-primary pull-sm-left">SHOP THIS STYLE</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
<div class="card">
    <img class="card-img-top" data-src="..." >

</div>
