<section class="main-wrapper">
  <h1 class="text-xs-center border-heading">{{data?.title}}</h1>

  <section class="inner-wrapper">
    <p class="text-xs-center">
      {{data?.description}}
    </p>
    <div class="video-handler">
      <div class="video-head">
        <span class="enlarge"><span class="sr-only">Enlarge Screen</span></span>
      </div>
      <div class="video-body">
        <span class="play"><span class="right-arrow"></span></span>
      </div>
    </div>
    <ul class="try-buttons">
      <li >
        <a href="collection/womens-sunglasses">
          <button type="button" class="btn-primary">TRY ON SUNGLASSES</button>
        </a>
      </li>
      <li >
        <a href="collection/womens-eyeglasses">
          <button type="button" class="btn-primary">TRY ON EYEGLASSES</button>
        </a>
      </li>
    </ul>
  </section>
</section>


<product-carousel [carouselId]="'must-haves'" [title]="'MUST-HAVES'"
                  [slug]="'must-haves'" [gender]="'womens'" [modalId]="'musthaves'">
</product-carousel>
<!-- Component Plain Banner -->
<plain-banner [imageFor]="'vto'" [image]="'footerImages'" [altFor]="'vto'" [alt]="'footerAltText'" id="vtoBannerBottom"></plain-banner>
<!--Component description-->
<page-description [contentId]="'vto'"></page-description>
