<!-- Component Plain Banner -->
<plain-banner [imageFor]="'home'" [image]="'heroImages'" [altFor]="'home'" [alt]="'heroAltText'" id="bannerTop"></plain-banner>
<!-- Component Product Gallery-->

<product-carousel [carouselId]="'new-arrivals'" [title]=" 'NEW RELEASES'"
                  [slug]="'new-arrivals'" [gender]="'womens'" [modalId]="'newarrival'">
</product-carousel>

<product-carousel [carouselId]="'must-haves'" [title]="'MUST-HAVES'"
                  [slug]="'must-haves'" [gender]="'womens'" [modalId]="'musthaves'">
</product-carousel>
<!-- Component Plain Banner -->
<plain-banner [imageFor]="'home'" [image]="'footerImages'" [altFor]="'home'" [alt]="'footerAltText'" id="bannerBottom"></plain-banner>
<!--Component description-->
<page-description [contentId]="'landing'"></page-description>

