<!--TODO:section tags need to use later-->
<div class="overflow-h inner-wrapper text-xs-center">
  <div class="faq-top">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <p>You can reach us from 9:00 AM — 5:00 PM EST at (855) 123-4567, or anytime at all at</p>
    <a href="mailto:help@aliceandoliviaeyewear.com" target="_parent">help@aliceandoliviaeyewear.com</a>
    <form action="" class="search-form">
      <input type="search" (keyup)="searchFaq(faq.value)" #faq class="search" placeholder="Search">
    </form>
  </div>

    <div class="col-xs-12 col-md-4" id="accordion" role="tablist" aria-multiselectable="true">
      <template ngFor let-item [ngForOf]="data.sections" let-i="index">
        <div *ngIf="i%3 == 0" class="card   pull-md-left">
          <div class="panel-heading" role="tab" id="headingOne" [ngClass]="{'search-element': item.selected }" >
            <a class="btn btn-outline text-xs-left headings" data-toggle="collapse" data-parent="#accordion" [href]="'#heading'+i"
                 aria-expanded="true" aria-controls="collapseOne">
                {{item.name}}
              </a>
          </div>
          <div [id]="'heading'+i" class="btn-outline panel-collapse collapse" [ngClass]="{in:item.defaultOpen}" role="tabpanel" aria-labelledby="headingOne">
            <dl class="question-answer text-xs-left text-small"  [ngClass]="{'search-element':list.selected}"  *ngFor="let list of item.questions">
              <dt class="question text-medium">{{list.question}}</dt>
              <dd class="answer" [innerHTML]="list.answer"></dd>
            </dl>
          </div>
        </div>
      </template>
    </div>


    <div class="group-two col-xs-12 col-md-4">

      <template ngFor let-item [ngForOf]="data.sections" let-i="index">
        <div *ngIf="i%3 == 1" class="card panel pull-md-left">
          <div class="panel-heading" role="tab" id="headingOne" [ngClass]="{'search-element': item.selected }" >
            <a class="btn btn-outline text-xs-left headings" data-toggle="collapse" data-parent="#accordion" [href]="'#heading'+i"
               aria-expanded="true" aria-controls="collapseOne">
              {{item.name}}
            </a>
          </div>
          <div [id]="'heading'+i" class="btn-outline panel-collapse collapse" [ngClass]="{in:item.defaultOpen}" role="tabpanel" aria-labelledby="headingOne">
            <dl class="question-answer text-xs-left text-small"  [ngClass]="{'search-element':list.selected}"  *ngFor="let list of item.questions">
              <dt class="question text-medium">{{list.question}}</dt>
              <dd class="answer" [innerHTML]="list.answer"></dd>
            </dl>
          </div>
        </div>
      </template>

    </div>


  <div class="col-xs-12 col-md-4">
      <template ngFor let-item [ngForOf]="data.sections" let-i="index">
        <div *ngIf="i%3 == 2" class="card pull-md-left">
          <div class="panel-heading" role="tab" id="headingOne" [ngClass]="{'search-element': item.selected }" >
            <a class="btn btn-outline text-xs-left headings" data-toggle="collapse" data-parent="#accordion" [href]="'#heading'+i"
               aria-expanded="true" aria-controls="collapseOne">
              {{item.name}}
            </a>
          </div>
          <div [id]="'heading'+i" class="btn-outline panel-collapse collapse" [ngClass]="{in:item.defaultOpen}" role="tabpanel" aria-labelledby="headingOne">
            <dl class="question-answer text-xs-left text-small"  [ngClass]="{'search-element':list.selected}"  *ngFor="let list of item.questions">
              <dt class="question text-medium">{{list.question}}</dt>
              <dd class="answer" [innerHTML]="list.answer"></dd>
            </dl>
          </div>
        </div>
      </template>

  </div>

</div>
