<section class="main-wrapper">
  <h1 class="text-xs-center border-heading">FORGOT PASSWORD?</h1>
  <section class="inner-wrapper">
    <div *ngIf="!submitted">
      <p class="text-small text-xs-left">Please enter your email address below and we will send you a temporary password.</p>
      <form class="row col-md-6" [ngFormModel]="forgotPasswordForm" (submit)="submit()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" [ngClass]="{invalid:email.touched || attemptSubmit}"  ngControl="email" id="email" #email="ngForm">
          <control-messages control="email" [displayMessage]="validationMessages.email" *ngIf="email.touched || attemptSubmit"></control-messages>
        <span *ngIf="emailExistError"
              class="error">Email does not exist.</span>
        </div>
        <button class="btn-primary" type="submit" [disabled]="disabled">SUBMIT</button>
      </form>
    </div>
    <div *ngIf="submitted">
      <h1 class="text-xs-center">CHECK YOUR EMAIL</h1>
      <p class="text-xs-left">We just sent you an email with instructions on how to reset your password.</p>
    </div>
  </section>
</section>
